*{
    margin: 0px;
    padding:0px;
}
.main{
    text-align: center;
    border:1px solid black ;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 700px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(146, 149, 84);
    align-items: center;
}

.form{
    margin-top: 20px;
}
.first-name{
    padding-top: 2px;
    text-align: center;
    
    
}
.last-name{
    padding-top: 20px;
}
.email{
    padding-top: 20px;
}

.password{
    padding-top: 20px;
}
.re-password{
    padding-top: 20px;
}

.submit{
    padding-top: 20px;
}
.footer{
    padding-top: 20px;
    display: flex;
    gap: 30px;
    padding-left: 80px;
    
}

input[type="text"],
input[type="email"],
input[type="password"]  
{
    width: 250px; 
    height: 30px; 
    margin-bottom: 10px; 
    padding-left: 20px;
    border:none;
    border-bottom: 2px solid black;
    border-radius: 5px; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.form btn1{
    width: 250px; 
    height: 30px; 
}
.footer{
   
    margin-left: 50px;
}
.footer button {
    background-color:burlywood;
   height:30px;
   width: 60px;
   border-radius: 20px;
   cursor: pointer;
}
.h2{
    margin-bottom: 200px;
}


input[type="button"]#btn1:hover {
    opacity: 0.5;
}


.highlighted {
    background-color: yellow; 
}

.error-msg{
    color:red;
    font-size: 20px;
font-family: small;
font-size: medium;
font-style: normal;
font-weight: bold;
}